<template name="websiteDetails">	
	<div class="container">
		<div class="btn-group" role="group" aria-label="">
			<a type="button" class="btn btn-info backhome" href="/" title="Siterate" alt="Siterate">
				<i class="glyphicon glyphicon-home"></i> Go Back to home page
			</a>
		</div>
		<br/>
		<hr/>
		<div class="well">
			<div class="page-header">
				<h1>{{title}}
					<a type="button" class="btn btn-primary btn-xs" href="{{url}}" target="_blank" title="{{url}}" alt="{{url}} - {{title}}"> 
						View website <i class="glyphicon glyphicon-new-window"></i> 
					</a>
				</h1>
				
			</div>
			<p class="blockqoute">{{description}}</p>
			<small><i class="glyphicon glyphicon-time"></i> {{createdDate}}</small><br/><small><i class="glyphicon glyphicon-user"></i> TODO </small>
		</div>
				
		<div class="row">
			<div class="col-xs-6 col-sm-6 sitetitlediv">
				<a href="#" class="sitetilemain"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 buttons">
				<div class="btn-group" role="group" aria-label="">
					<a type="button" class="btn btn-info" href="{{url}}" target="_blank" title="{{url}}" alt="{{url}} - {{title}}">
						<i class="glyphicon glyphicon-new-window"></i>
					</a>
				</div>
				<div class="btn-group" role="group" aria-label="">
					<button type="button" class="btn btn-success js-upvote">
						<i class="fa fa-thumbs-up"></i>
						<span class="badge badge-likes">{{upvotescount}}</span>
					</button>
					<button type="button" class="btn btn-warning js-downvote">
						<i class="fa fa-thumbs-down"></i>
						<span class="badge">{{downvotescount}}</span>
					</button>
				</div>
				{{#if rembut}}
				<div class="btn-group" role="group" aria-label="">
					<button type="button" class="btn btn-danger js-remove">
						<i class="fa fa-remove"></i>
					</button>
				</div>
				{{/if}}
			</div>
			<div class="col-xs-12 col-sm-6 descriptions">
				{{description}}
			</div>
		</div>
			<br/>
		<div class="row">
			<div class="col-xs-10 col-xs-push-1">
				{{#if currentUser}}
					<form class="js-post-comment col-xs-10 col-xs-push-1" style="margin-top:10px;">
						<label for="commentBody">Post a comment about this site:</label>
						<textarea name="commentBody" class="wrap" style="width:100%; clear:both;"></textarea>
						<input type="submit" class="js-submit-comment btn btn-success" value="Submit comment"/>
					</form>
				{{else}}
					<div class='alert alert-info'> Please Login to post comments about this site! </div>
				{{/if}}
			</div>
		</div>
		{{#if havcomments}}
			<div class="row ">
				<div class="col-xs-10 col-xs-push-1 commentsbuttons">
					<button class="js-show-more-comments btn btn-primary btn-xs"> Show more comments. </button><span> | </span><button class="btn btn-info js-show-all-comments btn-xs"> Show all {{commentsCount}} comments. </button>
				</div>
			</div>
			<div class="row commentscontainer">
				<div class="col-xs-10 col-xs-push-1">
					{{>commentsMain}}
				</div>
			</div>
		{{else}}
			<div class="row">
				<div class="col-xs-10 col-xs-push-1">
					<div class="well well-sm">
						No comments yet
					</div>
				</div>
			</div>
		{{/if}}
			
	</div>
</template>